body{font-family: arial;}

.barra{
    height: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

#testo{
    border-right: none;
    height: 2.5em;
    width: 15em;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-left: 10px;
transition: all 500ms linear;
    outline: transparent;
}
#data{
    border-left: solid rgba(0, 0, 0, 0.363);
    padding-left: 10px;
    height: 2.7em;
        border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
padding-right: 10px;
    outline: transparent;
}

.corpo{
    display: grid;
    grid-auto-rows: 250px ;
    grid-template-columns: 300px 300px 300px;
    column-gap: 3em;
    row-gap: 50px;
}

.todo{
    border: solid black 2px;
    font-family: arial;
    font-weight: bold;
    height: 200px;
    width: 300px;
    padding-left: 10px;
    padding-top: 10px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    padding-right: 10px;
    border-radius: 20px;
    position: relative;
    transition: all 500ms;
}

.delete{
    background-color: red;
    font-weight: bold;
    color: white;
    border: none;
    height: 30px;
    width: 80px;
    border-radius: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 10px;
    margin-bottom: 10px;
}

.send{
    margin-left: 10px;
    height: 3em;
    color: white;
    background-color: green;
    border: none;
    width: 80px;
    border-radius: 20px;
}

@media (max-width: 430px) {
    .corpo{
        display: flex;
        flex-direction: column;
    }
}

.puf{
animation: puff 1.1s ;
}

@keyframes puff{
    0%{transform: scale(1);}

    50%{transform: scale(1.2);
}

    100%{transform: scale(0);
    opacity: 0;
}
}